[Unit]
Description=frpc
After=multi-user.target
 
[Service]
TimeoutStartSec=30
ExecStart=/usr/local/frp/frpc -c /usr/local/frp/frpc.ini
ExecStop=/bin/kill $MAINPID
 
[Install]
WantedBy=multi-user.target
